.general-todo{


}

.search {
    width: 20rem;
    //padding: 10px 15px;
    &__input {
        width: 100%;
        padding: 10px 15px;
        border-radius: 16px;
    }

    &__list {
     //   border-radius: 16px;
        border-radius: 0 0 16px 16px;
        width: 100%;

        background-color: white;


    }

}

.user {
    //cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
   // padding: 5px;

    & + & {
        border-top: 1px solid brown;
    }
    &__nickname {
        padding-left: 10px;
    }
    &__tools {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__tool {
        cursor: pointer;
        padding: 10px;
        border-radius: 16px;

        &:hover {
            background-color: rgba(255, 134, 48, 0.5);
        }
    }
    &__loader {
        padding: 10px;
        border-radius: 16px;
    }

}